Repository dev-hsyang/Faketee-v1.0.2, pull requests merged in 2023-02, with the labels that each got.

#3 메인 페이지 제작
  backend/src/main/generated/com/konai/kurong/faketee/account/entity/QEmailAuth.java
  backend/src/main/generated/com/konai/kurong/faketee/account/entity/QUser.java
  backend/src/main/generated/com/konai/kurong/faketee/attend/entity/QAttend.java
  backend/src/main/generated/com/konai/kurong/faketee/attend/entity/QAttendRequest.java
  backend/src/main/generated/com/konai/kurong/faketee/corporation/entity/QCorporation.java
  backend/src/main/generated/com/konai/kurong/faketee/department/entity/QDepLoc.java
  backend/src/main/generated/com/konai/kurong/faketee/department/entity/QDepartment.java
  backend/src/main/generated/com/konai/kurong/faketee/draft/entity/QDraft.java
  backend/src/main/generated/com/konai/kurong/faketee/employee/entity/QEmployee.java
  backend/src/main/generated/com/konai/kurong/faketee/employee/entity/QEmployeeInfo.java
  backend/src/main/generated/com/konai/kurong/faketee/location/entity/QLocation.java
  backend/src/main/generated/com/konai/kurong/faketee/position/entity/QPosition.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/dto/QTemplateDepartmentResponseDto.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/dto/QTemplatePositionResponseDto.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/dto/QTemplateResponseDto.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/entity/QScheduleInfo.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/entity/QScheduleType.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/entity/QTemplate.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/entity/QTemplateDepartment.java
  backend/src/main/generated/com/konai/kurong/faketee/schedule/entity/QTemplatePosition.java
  backend/src/main/generated/com/konai/kurong/faketee/utils/jpa_auditing/QBaseEntity.java
  backend/src/main/generated/com/konai/kurong/faketee/utils/jpa_auditing/QBaseUserEntity.java
  backend/src/main/generated/com/konai/kurong/faketee/vacation/dto/QVacGroupResponseDto.java
  backend/src/main/generated/com/konai/kurong/faketee/vacation/dto/QVacTypeResponseDto.java
  backend/src/main/generated/com/konai/kurong/faketee/vacation/entity/QVacGroup.java
  backend/src/main/generated/com/konai/kurong/faketee/vacation/entity/QVacInfo.java
  backend/src/main/generated/com/konai/kurong/faketee/vacation/entity/QVacRequest.java
  backend/src/main/generated/com/konai/kurong/faketee/vacation/entity/QVacType.java
  frontend/.eslintrc.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/404.tsx
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/Components/Button/Hooks/useHeirarchy.tsx
  frontend/src/Components/Button/index.tsx
  frontend/src/Components/Button/types.ts
  frontend/src/Pages/Main/index.tsx
  frontend/src/Pages/Main/style.tsx
  frontend/src/Styles/font.css
  frontend/src/Styles/index.css
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: 🖥 Feat, Frontend

#7 feat: Cross origin resource sharing 설정
  .DS_Store
  backend/src/main/java/com/konai/kurong/faketee/config/WebMvcConfig.java
Labels: 🖥 Feat, on Backend

#6 Firebase 배포
  .gitignore
  frontend/.firebaserc
  frontend/firebase.json
Labels: 📚 Chore, on Frontend
